<div class="container">
  <div class="page-header">
    <center><h1>Mining Instructions for PhoenixMax ETC Pool</h1></center>
  </div>
  <p class="lead">In order to mine on this pool you need to have mining software. We recommend the following:</p>
 <br/>
<a href="https://claymore-dual.github.io/"> Claymore's Dual Ethereum GPU Miner</a> or
<a href="https://phoenix-miner.github.io/"> PhoenixMiner 4.7c GPU Miner</a>
 <br/><br/>
  <dl class="dl-horizontal">
    <dt>YOUR_ETC_ADDRESS</dt>
    <dd>This is your address for payouts, generate one with geth, or mine directly to an exchange like
      <a href="https://www.coinbase.com/" rel="nofollow" target="_blank">Coinbase</a>
      or <a href="https://www.myetherwallet.com/" rel="nofollow" target="_blank">myetherwallet</a>.<br/>
      <strong>Example:</strong> <code>0xb85150eb365e7df0941f0cf08235f987ba91506a</code>.
    </dd>
    <dt>RIG_ID</dt>
    <dd>
      ID of your rig to distinguish it from other mining rigs. If you have just one rig, feel free to omit this parameter.
      This parameter must be a short alphanumeric string with optional dashes and underscores.<br/>
      <strong>Example:</strong> <code>rig-1</code>
    </dd>
  </dl>
  <p>
    <strong>Full example: Claymore Miner</strong>
    EthDcrMiner64.exe -epool stratum+tcp://etcpool.phoenixmax.org:8008 -ewal 0xCB63BEA712DFE1dd1b8fD6674398605341a83C6F -epsw x -eworker Rig01 <br/><br/>
    <strong>Full example: Phoenix Miner</strong>
    PhoenixMiner.exe -epool stratum+tcp://etcpool.phoenixmax.org:8008 -ewal 0xCB63BEA712DFE1dd1b8fD6674368905311a83C6F -epsw x -eworker Rig01 <br/><br/>
 </p>

  <h4><b>Advice</b></h4>
  <p>CPU mining is not recommended.</p>
  <h4>Terms of Service</h4>
  <p>By using the pool you accept all possible risks related to experimental software usage.<br/>
     Pool owner can't compensate any irreversible losses.
  </p>
</div>
